doctype html
html(lang="zh-cn")
	head
		title= title
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		meta(name="description", content="地三鲜工作室出品")
		meta(name="keywords", content="地三鲜,前端,攻城狮")
		meta(name="author", content="eric")
		meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
		link(rel="shortcut icon", type="image/x-icon", href="/images/favicon.ico")

		//-link(rel="stylesheet", href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css")
		//- CDN 加速
		//- reset css
		link(rel="stylesheet", href="http://cdn.bootcss.com/normalize/3.0.2/normalize.min.css")
		link(rel="stylesheet", href="/css/default.css")

		script(type="text/javascript", src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js")
		//-script(type="text/javascript", src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js")

	body
		img(src="images/disanxian_black.png" class="dsx-for-share")
		block content

